{% extends 'base_2.html' %}
{% load static %}
{% block content %}
<center>
    <h1>Вход на сайт</h1>
    {% if error %}
        <div style="color:red;">{{ error }}</div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Логин">
        <input type="password" name="password" placeholder="Пароль">
        <form method="post" class="bootstrap-form">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <input type="submit" class="btn btn-success" value="Войти">
        </form>
    </form> </center>

{% endblock %}
